/*
   fonts:
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 15px;
    background-color: #FFFFFF;  
    /* margin-left: 130px;
    margin-right: 50px; */
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    display: flex;

   
}


a{
    text-decoration: none;
    color: black;
}
.Logo-image svg{

    height: 2rem;
    width: 2rem;
    
}
.Logo-image {

    height: 2rem;
    width: 24px;
    margin-left: 6px;
}
.profile-image img{
    height: 40px;
    width: 40px;
}
.name{
    font: 15px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

}
.tag span{
  font-size: 15px;
  color: rgb(83, 100, 113);
  font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.location, .re-tweets{
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: rgb(83, 100, 113); 
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.nav-links svg{
    height: 1.75rem;
    width:1.75rem;
}

.three-dot-button svg{

    height: 25px;
    width: 27px;
}
.more svg {
    height: 10px;
    width: 10px; 
}
.following svg{

    height: 20px;
    width: 20px;
}


/* the hover psuedo class*/
.nav-links > div:hover{

    background-color: rgb(220, 228, 231);
}


/* phone nav */
.phone-nav {

    height: 53.5px;
    width: 100%; 
    background-color: #FFFFFF;
    display: none;
}
.small-screen-nav-icons > div{
    width: 95.5px;
    height: 52.2px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-nav-home,.phone-nav-search,
.small-screen-nav-notification,
.small-screen-nav-massege{
    width: 95.5px;
    height: 52.2px;

     
}
.h,.sr,.n,.m{
 width: 42.25px;
 height: 42.25px;
 margin: -6px -8px -8px;
 padding: 8px;

 
}

.main-nav{
    height: 44px;
    background-color: #ffffff;
    
}



/* Phone nav menu */
.phone-header-nav{
    /* display: none; */
    max-width: 100%;
    height: 53px;
    padding: 0px 16px;
   
}
.phone-nav-items{
   

    padding-top: 5px;
    max-width: 100%;
    max-height: 100%;

    display: flex;
    justify-content: space-between;
}
.profile-link ,.profile-icon{
    max-width: 220.58px;
    height: 53px;
    
   
}
.profile-bub img{
    height: 36px;
    width: 36px;
}
.prof{
    height: 32px;
    width: 32px;
}
.logo-img svg{
 
    height: 20.06px;
    width: 22.19px;

}

.setting-icon{
   width: 40px;
   height: 40px;

   /* display: flex;
    justify-content: center;
    align-items: flex-end;  */
}
.setting-icon svg{
    height: 20px;
    width: 20px;
}

.setting-icon path{
 width: 17.8px;
 height: 17.8px;
}
.phone-nav svg{

    height: 26.25px;
    width: 26.25px; 
}
.phone{
    display: none;
}



/* For You and Following nav */
.following i:hover{
    background-color: rgb(220, 228, 231);
}
.for-you{
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.following{
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gi{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
   
}
.gi:hover{
    background-color: rgb(220, 228, 231);
}
.gear-icon{
 
    width: calc(100%-10%);
    height: 20px;
    width: 20px;
    

}
.for-you-and-following{
    height: 40px;
    width: 100%;
    

    
}


.nav{
    /*position: fixed;*/
    width: 354px;
    height: 100vh;
    /* height: 394px; */
    padding-left: 8px;
    padding-right: 8px;
   
   
    
   
}
nav{
    
    background-color: white;
    /* height: 574.25px; */
    width: 364px;
    padding-left: 75px;
   
}

.nav-links h5{
    font-size: 20px;
    font-weight: 400;
    color: rgba(15,20,25,1.00);
    /* font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif; */
    font: 20px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    
}

.main{

    height:100vh;
    max-width: 600px;
    padding: 0px 16px;
    /* overflow: hidden;
    overflow-y: scroll;
   */
}
.post{
    width: 100%;
}



/* Create post section from here */
.whats-on-your-mind{
    
    height: 157px;
    width: 598px;
    padding: 4px 0px 0px;
}
.whats-on-your-mind-profile-and-input{
 
    padding-top: 12px;
}
.whats-on-your-mind-profile-image{
    margin-right: 12px;
   
}
.whats-on-your-mind-profile-image img{
    height: 40px;
    width: 40px;
}
.textarea{
    padding-bottom: 12px;
}
.text-post-input{
    outline: none;
    max-width: 500px;
    height: 35px;
    padding: 2px 0px;
    font: 22px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.reply-privacy-link{
    padding: 0px 0px 12px;
    width: 508px;
}
.reply-privacy-link a{
    color: rgb(29, 155, 240);
    font-size: 15px;
    font-weight: 700px;
    padding: 0px 12px;

}
.reply-privacy-link svg{
    fill: rgb(29, 155, 240);
    height: 20px;
    width: 20px;
    
}
.whats-on-your-mind-icons-button{
    max-width: 500px;
}
.whats-on-your-mind-icons i{
    margin-right: 7px;
    fill:rgb(29, 155, 240);
    
}



/* Post section from here */
.profile-name-and-picture{
    padding: 12px 0px 0px; 
    width: 100%;
}

.post-profile-image {
    margin-right: 10px;
    
}
.post-profile-image img{
    height: 40px;
    width: 40px;
   
}
.up{
    max-width: 500px;
    padding: 0px 0px 12px;
    line-height: normal;
    margin: auto;
}
.profile-name{
    display: flex;
    justify-content: space-evenly;
   
    
}
.verified-account div{
    
}
.nametag{
     color: rgb(83, 100, 113);
     font-size: 14px;
}
.profile-name svg{
    max-width: 15px;
    max-height: 15px;
    fill: rgb(0, 162, 255);
}
.linefirst{

     display: flex;
     justify-content: center;
     
}
.caption{
    word-wrap: break-word;
}
.image{
   
    max-width: 500px;
    min-width: none;
    width: 100%;
    /* margin: auto; */
}
.image img{
    height: 100%;
    width: 95%;
    margin: 12px 0px 0px;
    /* max-width: 512px;
    max-height: 512px; */
   

}

.text{
    margin-left: 50px;
}
::-webkit-scrollbar{
    width: 0px;
}

.profile-bubble{
    height: 140px;
    width: 100%;

    display: flex;
    align-items: end;
   
}
.bubble{

    max-width: 243px;
    min-width: 200px;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.bubble:hover{
    background-color: rgb(220, 228, 231);
}
.bubble-user-info{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.tweet-button{
    
   width: 250px;
   height: 52px;
   
}
.tweet-button button{
 
    width: 217px;
    height: 52px;
    background-color: rgb(29, 155, 240);
    color: white;
    font-weight: 400;
    font-size: 17px;
}
::placeholder{
    padding-bottom: 2px;
    padding-top: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font: 20px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.post-button {
    min-height: 36px;
    min-width: 60px;
    
    
}
.post-button button{

    background-color: rgb(29, 155, 240);
    font-size: 15px;
    color: white;

}
.icons{
 height: 32px;
 max-width: 514px;
}
.iterections{
    margin-left: 9px;
    width: 70%;
    margin-top: 10px;
   
}
.iterections > div{
   width: 111.13px;
   height: 20px;
}
.iterections  span{
   padding: 0px 8px;
   
}
.b > div{
    margin-right: 12px;
}

.reply,.repost,.likes,.view{
    width: 34.75px;
    height: 34.75px;
    margin: -8px;
    

    display: flex;
    justify-content: center;
    align-items: center;
}
.bookmarks,.share{
    width: 34.75px;
    height: 34.75px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.grouped-icons{
    margin-top: 2px;
}
.icons svg{

    height: 18.75px;
    width: 18.75px;
}



.reply:hover{

    background-color: rgb(10, 165, 255);
   
}
#reply-unit:hover{
    color: rgb(10, 165, 255);
}
.repost:hover{

    background-color:rgb(123, 247, 123);
}
#repost-unit:hover{
 color: rgb(123, 247, 123);
}
.likes:hover{

    background-color:rgb(221, 55, 55) ;
}
#likes-unit:hover{
    color: rgb(221, 55, 55) ;
}
.view:hover{

    background-color: rgb(58, 226, 190);
}
#view-unit:hover{
 color: rgb(58, 226, 190);
}
.bookmarks:hover{
  background-color: #bbdbf0;
}
.share:hover{
  background-color: #bbdbf0;
}


/* Side Bar */
.side-bar{

    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    width: 360px;
    padding: auto;
    margin: 0px 30px;
    background-color: #ffffff;
    
   

     /* border-bottom-color: rgb(247, 249, 249);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-style: solid;
    border-bottom-width: 1px; */
} 

.side-bar >div{
   height: 100vh;  
}
.search-bar svg{

    height: 18px;
    width: 18px;
    background: #eff3f4;
}
.search-bar{
   
    height: 43px;
    width: 350px;
    margin: 5px 0px 12px 0px;
    background-color:  #ffffff;
   
}
.input-group-text{
    background-color: #eff3f4;
    height: 44px;
}
.search{
    background: #eff3f4;
     width: 305px;
    
}
.trends-for-you,.who-to-follow{
   background-color:  #f7f9f9;
   width: 350px;
   

   

}
.see-more a{
    color: rgb(29, 155, 240);
}

.terms-and-conditions a{
    font-size: 13px;
    color: rgb(83, 100, 113);
    font-weight: 400;
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

}
.terms-and-conditions span{
 padding: 3px;
}
.terms-and-conditions a:hover{
  
    text-decoration: underline;
    text-decoration-color: rgb(83, 100, 113);

}
.tittle h5{

    font-size: 20px; 
    font-weight: 700;
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color: rgba(15,20,25,1.00);
}


.main-content{
    
    height: 100vh;
    display: flex;
    overflow: hidden;
    overflow-y: scroll;

    position: relative;
}



@media only screen and (max-width: 500px) {
    .nav,.create-post,.side-bar,.s,.gear-icon{
        display: none;
    }
    .main{
        width: 100vw;
    }
    .phone-nav{
       display: block;
       background-color: red;
       position: fixed;
       bottom: 0;

    }
    .post{
        max-width: 500px;
        /* margin: auto; */
        
    }

    .up{
        background-color: green;
       max-width: 395px;
       min-width: 100px;
    }
    .icons{
        max-width: 100%;
    }
    .image{
        max-width: 370px;
        min-width: 100px;
    }
    .iterections{
        width: 90%;
    }
    .reply,.repost,.likes,.view{
        max-width: 34.75px;
        max-height: 34.75px;
       
    }
    .bookmarks,.share{
        max-width: 34.75px;
        height: 34.75px;
  
    }
    .main-nav{
        height: 107px;
    }
    .phone{
        display: block;
    }
    
   
  }